h1{
font-family: 'Verdana', sans-serif;
font-size: 45px;
font-weight: bold;
-webkit-text-fill-color: white;
}
h2{
font-size: 32.5px;
}
h3{
font-size: 32px;
}
body{
display: flex;
background: linear-gradient(320deg, #ed3232, #6d32ed, #32b2ed);
font-family: 'Trebuchet MS', sans-serif;
}
